.errorMessage {
    color: #d2ba00;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 0.8px;
    text-align: center;
    margin: 40px 30px;
}

.reviewInfo {
    margin: 30px;
    border-bottom: 1px solid #5e0025;
}

.reviewAuthor {
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 0.8px;
    color: #d2ba00;
    margin-bottom: 10px;
}

.reviewText {
    font-size: 16px;
    letter-spacing: 0.5px;
    color: #5e0025;
    margin-bottom: 20px;
}

