.header {
    background-color: #5e0025;
    box-shadow: 10px 15px 19px -4px;
    padding: 45px 0;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.navlink {
    background-color: #5e0025; 
    padding: 15px 20px; 
    border-radius: 8px;
    transition: all 0.3s ease;
    color: #d2ba00;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
}


.active, .navlink:hover {
    transform: translateY(2px);
    box-shadow: 0px 0px 6px 3px #d2ba00;
}