.formSearch {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
    background-color: #171722;
}

.inputSearch {
    width: 340px;
    font-size: 18px;
    border: 2px solid #414141;
    border-radius: 5px;
    background-color: #5e0025;
    padding: 5px 10px;
    color:#000000;
}

.btnSearch {
    background-color: #5e0025;
    padding: 15px 20px;
    border-radius: 8px;
    transition: all 0.3s ease;
    color: #d2ba00;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    /* border: 2px solid #000000 */
}

.btnSearch:hover {
    transform: translateY(2px);
    box-shadow: 0px 0px 6px 3px #d2ba00;
}